* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #0a0a0a;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

/* 메인 컨테이너 */
.container {
  width: 680px;
  height: 800px;
  background: #1a1a1a;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 50px;
}

/* 로고 */
.logo {
  width: 142px;
  height: 101px;
  display: block;
  margin: 0 auto;
}

/* 입력창 */
.input-box {
  width: 484px;
  height: 78px;
  background: #333;
  border-radius: 15px;
  position: relative;
  margin: 25px auto;
}

.input-box span {
  position: absolute;
  left: 20px;
  top: 22px;
  font-size: 30px;
  color: rgba(204, 204, 204, 0.5);
}

/* 회원가입 버튼 */
.signup-btn {
  width: 184px;
  height: 72px;
  background: linear-gradient(180deg, #00ffff 0%, #006fff 100%);
  border-radius: 8px;
  margin: 40px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}
.signup-btn:hover {
  background: linear-gradient(180deg, #0196ff 0%, #022cff 100%);
}

/* 로그인 안내 */
.login-guide {
  text-align: center;
  font-size: 18px;
  color: #fff;
  margin-top: 20px;
}

.modal {
  width: 540px;
  height: 310px;
  background: #2c2c2c;
  border-radius: 20px;

  /* 🔥 가장 중요한 수정 */
  position: fixed; /* 화면 기준 */
  left: 50%;
  top: 120%; /* 숨겨진 상태 (화면 아래) */

  transform: translate(-50%, -50%);
  transition: 0.4s ease;
  overflow: hidden;
}

/* 활성화(중앙 올라오기) */
.modal.active {
  top: 50%;
}

.modal-title {
  font-size: 36px;
  font-weight: 700;
  color: #ff5757;
  text-align: center;
  margin-top: 27px;
}

.modal-text {
  font-size: 30px;
  color: white;
  text-align: center;
  margin-top: 50px;
}

.modal-btn {
  width: 514px;
  height: 60px;
  background: linear-gradient(180deg, #ff5757 0%, #ff0d0d 100%);
  border-radius: 15px;
  position: absolute;
  left: 13px;
  bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 30px;
  cursor: pointer;
}
.modal-btn:hover {
  background: linear-gradient(180deg, #0196ff 0%, #022cff 100%);
}
