<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>SMART-MAPPER</title>
    <link rel="icon" type="image/png" href="../static/img/LOGO.png" />
    <link rel="stylesheet" href="../static/css/main.css" />
  </head>
  <body>
    <div class="div">
      <div class="frame-2">
        <div class="frame-3">
          <div class="div2">
            <div class="frame-5"></div>
          </div>
        </div>
        <img class="logo" src="logo0.svg" />
      </div>
      <div class="div3">
        <div class="div4">
          <div class="div5">확인</div>
        </div>
        <div class="div6">경고!</div>
        <div class="div7">
          회원가입은 취소할 수 없습니다.
          <br />
          계속하시겠습니까?
        </div>
      </div>
      <div class="div8">
        <div class="div9">환영합니다!</div>
        <div class="div10">로그인하시겠습니까?</div>
        <div class="frame-6">
          <div class="div5">확인</div>
        </div>
      </div>
      <div class="div11">
        <div class="div12">이동</div>
        <div class="div13">지도 화면으로 이동하시겠습니까?</div>
        <div class="frame-6">
          <div class="div5">확인</div>
        </div>
      </div>
      <div class="div14">
        <div class="div12">이동</div>
        <div class="div13">메인 화면으로 이동하시겠습니까?</div>
        <div class="frame-6">
          <div class="div5">확인</div>
        </div>
      </div>
    </div>
  </body>
</html>
